.scroll-top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: none;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.scroll-top-btn i {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  border-radius: 50%;
  padding: 10px;
}